* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
:root {
    
    --primary-color: rgb(192, 13, 28);
    
  }

body{
   
    font-family: "Work Sans", sans-serif;
    text-align: center;
    background-image: url(./money.jpg);
}
label{
    display: block;
  font-size: larger;
  margin: 1rem 0px;
  font-weight: 600;
  color: rgb(128, 54, 5);
}
input{
    font-size: large;
  display: block;
  outline: #fff;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
  color: rgb(153, 65, 6);
  background-color: rgb(189, 206, 36);
}
#btn{
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}
h1 {
    text-align: center;
    margin: 2rem;
    color: rgb(148, 64, 9);
  }
  #output{
    font-size: x-large;
    font-weight: 600;
    margin: 2rem 0;
    color: rgb(48, 5, 8);
    
  }
  :data-theme[dark]{
      background-image: url(./umbrella.jpg);
  }